html {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    margin: 8px;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: 2px solid #D8D8D8;
}

div {
    display: block;
}

.header-logo {
    display: flex;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    display: block;
}

p {
    display: block;
    color: #4B4B4B;
}

.logo1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #4A4A4A;
}

.logo2 {
    text-transform: uppercase;
    color: #9F9F9F;
}

#desktop {
    margin-left: 16px;
}

#desktop a {
    margin-left: 16px;
}

a {
    color: #4A4A4A;
    text-decoration: none;
}

a:hover {
    color: #D8D8D8;
}

#mobile {
    display: none;
}

section {
    display: block;
}

#learn {
    padding: 32px 24px;
    display: flex;
    background-color: #D8D8D8;
    gap: 1.5rem;
}

.img-header-learn {
    width: 60%;
    height: auto;
}

.img-header {
    width: 100%;
    height: auto;
}

.header-learn {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    padding-right: 3rem;
    width: 40%;
}

.header-learn-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

h1 {
    display: block;
    font-size: 2rem;
    color: #4A4A4A;
}

.header-learn-paragraph {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #4A4A4A;
}

h2 {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #4A4A4A;
}

button {
    color: white;
    font-size: 1rem;
    padding: 8px 0;
    border: 2px solid #4A4A4A;
    background-color: #4A4A4A;
}

button:hover {
    background-color: #D8D8D8;
}

#practice {
    display: flex;
    gap: 1.5rem;
    background-color: #F3F5F5;
}

.practice-main {
    padding: 32px 0 32px 24px;
    width: 60%;
}

.img-practice-main {
    width: 100%;
    height: auto;
}

.img-practice {
    width: 100%;
    height: auto;
}

.header-practice-title {
    font-size: 2rem;
    line-height: 1.8rem;
    margin: 32px 0 24px 0;
}

.text-bottom {
    margin: 20px 0;
    font-weight: bold;
    color: #6B6B6B;
}

.campus-info {
    min-width: 423px;
    padding: 1rem 0;
    width: 40%;
}

.campus-info-single {
    display: flex;
    min-height: 168px;
    border: 1px solid #E0E2E2;
    /* align-items: center;
    padding: 1rem;
    gap: 1rem; */

}

.campus-info-single:hover {
    background-color: #D8D8D8;
}

.img-campus-info-main {
    max-width: 35%;
    margin: 16px;
    height: auto;
}

.img-campus-info {
    width: 100%;
    height: auto;
}

.img-campus-info-mobile {
    display: none;
}

.campus-info-text {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin-right: 8px;
}

.header-practice-main-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4A4A4A;
}

.header-practice-text {
    font-size: 0.8rem;
    margin: 8px 0;
    /* font-weight: bold; */
    color: #4A4A4A;
}

.campus-info-text>a {
    color: #5697E4;
}

.img-campus-info-mobile {
    display: none;
}

#learning {
    padding: 32px 72px;
    background-color: #EAEBEC;
}

.header-learning-title {
    font-size: 2rem;
    padding: 0 0 32px 0;
    text-align: center;
}

.courses-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    background-color: #EAEBEC;
    gap: 2rem;
}

.course {
    width: 30%;
    background-color: white;
}

.course-img-main {
    width: 100%;
    height: auto;
}

.course-img {
    width: 100%;
    height: auto;
}

.course-text {
    padding: 16px 16px 24px;
}

.header-learning-main-text {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.header-learning-text {
    font-size: 1rem;
    margin-bottom: 8px;
    font-weight: 400;
}

#thesis {
    background-color: #F3F5F5;
}

.header-thesis-title {
    font-size: 2rem;
    padding: 32px 0;
    text-align: center;
}

.thesises-main {
    width: 100%;
    display: flex;
    gap: 1.5rem;
}

.thesis {
    width: 60%;
}

.video-thesis {
    height: auto;
    width: 100%;
    padding-left: 24px;
}

video {
    height: auto;
    width: 100%;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.thesis-text {
    margin: 24px 0 32px 24px;
}

.header-thesis-main-text {
    font-size: 1.5rem;
    color: #4A4A4A;
    /* margin-top: 24px; */
}

.header-thesis-text {
    margin-top: 8px;
}

.thesis-info {
    min-width: 423px;
    width: 40%;
}

.thesis-info-single {
    min-height: 168px;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.thesis-info-single:hover {
    background-color: #D8D8D8;
}

.thesis-img-main {
    max-width: 35%;
    height: auto;
}

.thesis-img {
    width: 100%;
    height: auto;
}

.thesis-info-text {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin-right: 8px;
}

.header-thesis-info-main-text {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    color: #4A4A4A;
}

.header-thesis-info-text {
    font-size: 0.8rem;
    margin: 8px 0;
}

footer {
    color: #003249;
    padding: 0 24px;
    border-top: 2px solid #E0E2E2;
    display: flex;
    justify-content: space-between;
    background-color: #F3F5F5;
}

.footer-main {
    display: block;
    padding: 16px 0;
}

footer a {
    display: inline-block;
    margin: 16px 0 0 16px;
    /* text-decoration: underline; */
}

@media (max-width: 710px) {

    .header-logo,
    #desktop {
        display: none;
    }

    #mobile {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #learn {
        padding: 0;
        flex-wrap: wrap;
        gap: 0;
    }

    .img-header-learn {
        width: 100%;
        height: 180px;
        overflow: hidden;
    }

    .header-learn {
        display: flex;
        flex-flow: wrap column;
        justify-content: center;
        margin: 32px 16px;
        width: 100%;
    }

    .header-learn-title {
        font-size: 2.5rem;
        margin-bottom: 32px;
    }

    .header-learn-paragraph {
        display: flex;
        flex-flow: wrap column;
        justify-content: center;
        /* margin: 32px 16px; */
        width: 100%;
    }

    #practice {
        /* padding-bottom: 16px; */
    }

    .practice-main {
        display: none;
    }

    .campus-info {
        width: 100%;
        padding: 0 0 32px 0;
        background-color: white;
    }

    .campus-info-single {
        flex-flow: wrap column;
        border: 0;
        height: auto;
    }

    .img-campus-info-main {
        min-width: 100%;
        margin: 0;
        padding: 16px;
    }

    .img-campus-info {
        display: none;
    }

    .campus-info-text {
        margin-left: 32px;
        margin-bottom: 64px;
    }

    /* #practice {
        border: 1px solid red;
    } */



    .campus-info-single {
        flex-flow: wrap column;
        border: 0;
        height: auto;
    }

    .img-campus-info-mobile {
        display: inline-block;
        width: 100%;
        height: auto;
    }

    #learning {
        padding: 32px 0 0 0;
        background-color: white;
    }

    .header-learning-title {
        font-size: 2rem;
        padding-bottom: 16px;
        text-align: center;
    }

    .courses-main {
        justify-content: space-around;
        width: 100%;
        /* padding-bottom: 8px; */
        background-color: white;
        gap: 0.5rem;

    }

    .course {
        padding: 0;
        width: 100%;
        margin: 8px 16px;
        background-color: #D8D8D8;
    }

    .course-img-main {
        display: none;
    }

    .course-img {
        display: none;
    }

    .header-learning-main-text {
        font-size: 1rem;
        margin: 16px 0;
        line-height: 0.5rem;
    }

    .course-text {
        background-color: #D8D8D8;
        width: 100%;
    }

    .course-text>p {
        display: none;
    }

    .header-learning-text {
        display: none;
    }

    #thesis {
        padding: 32px 0 24px 0;
        background-color: white;
    }

    .header-thesis-title {
        padding: 32px 0 16px 0;
    }

    .thesis {
        width: 100%;
    }

    .video-thesis {
        height: auto;
        width: 100%;
        padding-left: 0;
    }

    video {
        height: auto;
        width: 100%;
        object-fit: contain;
        overflow-clip-margin: content-box;
        overflow: clip;
    }

    /* .thesises-main {
        width: 100%;
        height: 180px;
        overflow: hidden;
    } */

    /* .video-thesis {

        height: auto;
        width: 100%;
        padding: 0;
    } */

    /* video {
        height: auto;
        width: 100%;


    } */

    .thesis-text {
        display: none;
    }

    .thesis-info {
        display: none;
    }

    footer {
        justify-content: flex-start;
        font-size: 1rem;
        background-color: white;
        border-top: 2px solid white;
    }

    .link {
        display: none;
    }

    .links {
        display: none;
    }














}